.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 40px 50px;
  min-height: 600px; 
  background-position: top right;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -93px;
  padding-top: 93px;
}
.hero-content {
  max-width: 50%;
  margin-bottom: 30px;
}
.hero-content h1 {
  font-size: 3rem;
  font-weight: bold;
  color: #222;
  line-height: 1.2;
  margin-bottom: 15px;
  position: relative;
  z-index: 6;
}
.hero-content p {
  font-size: 1.2rem;
  color: #555;
  line-height: 1.5;
  margin-bottom: 20px;
  position: relative;
  z-index: 6;
}
.btn {
  background-color: #00BCD4;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 500;
  transition: background-color 0.3s ease;
}
.btn:hover {
  background-color: #008C9E;
}
.btn .arrow {
  margin-left: 10px;
}
.hero-illustration {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 35%;
  position: relative;
}
div .hero-illustration::after{
  content: '';
  position:absolute;
  background: url('../../Assests/Images/HeroSectionImages/Mask.png');
  width: 1007px;
  height: 942px;
  background-repeat: no-repeat;
  z-index: 1;
  top: -93px;
  right: 0;
  background-size: cover;
  left: -400px;
}
.hero-illustration-main{
  position: relative;
  z-index: 4;
}
.hero-illustration img {
  max-width: 100%;
  height: auto;
  padding-right: 90px;
}
.continue-section {
  display: flex;
  justify-content: space-around;
  margin-bottom: 45px;
  width: 100%;
  position: relative;
  z-index: 6;
}
.text-block {
  text-align: center;
  max-width: 30%;
}
.text-block h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #222;
  margin-bottom: 10px;
}
.text-block p {
  color: #666;
  font-size: 1rem;
  line-height: 1.4;
  margin-bottom: 10px;
}
.underline {
  width: 60px;
  height: 4px;
  background-color: #00BCD4;
  margin: 0px auto 0;
}
