.case-studies-container {
    display: flex;
    height: 100vh;
    padding: 120px ;
    
  }
  .sidebar {
    width: 25%;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 15px;
  }
  .sidebar-title {
    font-size: 2.5rem;
    color: #0D47A1;
    margin-bottom: 20px;
    line-height: 1.2;
  }
  .sidebar-text {
    font-size: 1rem;
    color: #4b5563;
    margin-bottom: 20px;
    line-height: 1.5;
  }
  
  .filter-button {
    background-color: #dbeafe;
    color: #1d4ed8;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
  }
  .para{
    padding: 10px 20px;
    line-height: 5; 
  }
  .right-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-left: 20px;
  }
  .right-image-container {
    position: relative;
    width: 80%;
    height: 80%;
    border-radius: 15px;
    overflow: hidden;
    margin-left: 40px;
  }
  .right-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  .card-content {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    padding: 15px;
    border-radius: 10px;
  }
  .card-content h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  .card-content p {
    font-size: 1rem;
    color: #d1d5db;
  }
  