.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  gap: 40px;
  max-width: 1920px;
}

.about-artwork {
  position: relative;
}
.about-artwork img {
  width: 80%;
  height: 80%;
  object-fit: contain;
  border-radius: 10px;
}

.about-text {
  max-width: 600px; 
}

.about-text h3 {
  font-size: 32px;
  margin-bottom: 20px;
}

.about-text p {
  font-size: 16px;
  color: black;
  line-height: 1.6;
  margin-bottom: 30px;
}

.about-stats {
  display: flex;
  gap: 40px;
}

.stat-item {
  text-align: center;
}

.stat-item h4 {
  font-size: 24px;
  color: black;
  margin-bottom: 5px;
}

.stat-item p {
  font-size: 14px;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
}
