.header {
  background-color: #fff;
  padding: 20px 0;
  position: relative;
  max-width: 1920px;
}
header .header::after{
  content: '';
  position:absolute;
  background: url('../../Assests/Images/headerImages/Mask.png');
  background-size: 100%;
  width: 1007px;
  height: 942px;
  background-repeat: no-repeat;
  z-index: -1;
  top: 100%;
  right: 0;
  left: 100%;
}
.container {
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-img {
  height: 50px;
  margin-right: 10px;
  padding-left: 60px;
}

.logo-text {
  font-weight: bold;
  color: #333;
}

.nav {
  flex: 1;
  margin-left: 40px;
  display: flex;
  justify-content: center;
}
.nav-bar{
  position: relative;
  z-index: 4;
}
.nav-list {
  list-style: none;
  display: flex;
  gap: 80px;
  padding-left: 0;
}

.nav-list a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.actions {
  display: flex;
  padding-right: 100px;
  width: auto;
  justify-content: space-between;
  align-items: center;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  z-index: 6;
}

.button {
  display: flex;
  gap: 10px;
  
}

.login-btn {
  background: transparent;
  color: #333;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

.register-btn {
  background: #007bff;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.register-btn:hover {
  background: #0056b3;
}

.login-btn:hover {
  text-decoration: underline;
}

.line {
  color: #ccc;
  font-size: 24px;
  margin: 0 10px;
}
.settings {
  font-size: 28px; 
  color: #333;
  cursor: pointer;
  z-index: 10;
  position: relative;
  display: block;
  padding-right: 60px;
}


