.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 60px ;
  position: relative;
  margin: 90px;
}
.footer-left {
  position: relative;
  width: 30%;
}
.footer-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
.footer-logo .logo {
  width: 50px; 
  height: auto;
}
.logo-text {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}
.diamond-square {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: #2196F3;
  transform: rotate(45deg);
  border-radius: 8px;
  top: 50px;
  left: -50px;
  opacity: 0.1;
  z-index: 1; 
}
.diamond-bigsquare {
  position: absolute;
  width: 150px;
  height: 150px;
  background-color: #00BCD4;
  transform: rotate(45deg);
  border-radius: 8px;
  top: 90px;
  left: -40px;
  opacity: 0.1;
  z-index: 1; 
}
.footer-left p {
  font-size: 15px;
  color: #555;
  line-height: 1.5;
  z-index: 2; 
  position: relative;
}
.footer-center {
  display: flex;
  justify-content: space-between;
  width: 40%;
}
.footer-column {
  margin-right: 20px;
}
.footer-column h3 {
  font-size: 16px;
  color: #333;
  margin-bottom: 10px;
}
.footer-column ul {
  list-style: none;
  padding: 0;
}
.footer-column li {
  font-size: 14px;
  color: #555;
  margin-bottom: 8px;
}
.footer-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  width: 20%;
}
.social-icons {
  display: flex;
  gap: 10px;
  margin-left: 30px;
}
.social-icons div {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EBEBEB;
  border-radius: 50%;
  font-size: 16px;
  color: #2196F3;
  cursor: pointer;
  transition: all 0.3s ease;
}
.social-icons div:hover {
  background-color: #2196F3;
  color: #fff;
}
.language-selector {
  display: flex;
  align-items: center;
  gap: 5px; 
  font-size: 14px;
  color: #333;
  background-color: white;
  padding: 1px 10px; 
  border: 2px solid #2196F3; 
  border-radius: 6px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  cursor: pointer; 
  margin-left: 30px;
}
.language-selector span {
  font-size: 18px; 
}
.diamond-square1 {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: #2196F3;
  transform: rotate(45deg);
  border-radius: 8px;
  top: 40px;
  right: -60px;
  opacity: 0.1;
  z-index: 1; 
  margin-right: 100px;
}
.diamond-bigsquare1 {
  position: absolute;
  width: 150px;
  height: 150px;
  background-color: #00BCD4;
  transform: rotate(45deg);
  border-radius: 8px;
  top: 60px;
  right: -40px;
  opacity: 0.1;
  z-index: 1; 
  margin-right: 100px;
}
